.home-content {
    width: 100%;
    overflow: hidden;
    background: #fff;
    padding: 12px;
}

.home-header-box {
    width: 100%;
    /* display: flex; */
}
.home-content-left-box-title{
    font-size:24px
}