.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.app_menu {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app_content {
  width: 100%;
  height: 100%;
  margin: 12px;
}